<div id="contentBk" class="clearfix">

  <div id="content">
    <div class="topImg clearfix">
      <img src="/assets/headers/header_2.jpg" alt="About Us">
      <p>Our <strong>Cities</strong></p>
    </div>

    <div class="wrapper">

<%= render 'form' %>

    </div>
  </div>
</div>