<div id="contentBk" class="clearfix">

  <div id="content">
    <div class="topImg clearfix">
      <img src="/assets/headers/header_2.jpg" alt="About Us">
      <p><strong>Streams</strong></p>
      <%= controller_path.split('/').first %>
    </div>

    <div class="wrapper">

<%= render 'form' %>

    </div>
  </div>
</div>