<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stream_category.name %>
</p>

<%= link_to 'Edit', edit_admin_stream_category_path(@stream_category) %> |
<%= link_to 'Back', admin_stream_categories_path %>
